 <!-- jQuery Version 3.1.0 -->


    <script src="{{ "/js/jquery-3.1.0.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>  -->
    {% if site.enablejquerymigrate %}
    <script src="{{ "/js/jquery-migrate-3.1.0.js" | prepend: site.baseurl }}"></script>
    {% endif %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    {% if site.enablefancybox %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {% else %}

    {% endif %}
