 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.Gallery_Name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Subject:
                                    <strong><a href="http://startbootstrap.com">{{ post.subject }}</a>
                                    </strong>
                                </li>
                                <li>
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <div>
                                <!-- ------- -->
                                <div class="PostContentGallery">
                                
                                {% for gallery in site.data.galleryjson.PhotoGalleries %}
                                {% if post.Gallery_Name == gallery.GalleryName  %}
                        
                                <h2 id="{{gallery.GalleryName}}" class="GalleryLink"> 
                                <a href="{{gallery.FullDirectoryPath}}">{{gallery.GalleryName}}</a>
                                </h2>
                        
                                <div class="image-container-{{gallery.GalleryName}} ImgContainer">
                                {% for images in gallery.Images %}
                        
                                {% assign PortfolioCaption = site.PortfolioImages | where: "name", images.Name | first %}
                                <!-- [![{{images.ThumbnailName}}]({{images.ThumbnailFilePath}})]({{gallery.FullDirectoryPath}}) -->
                                    {% if PortfolioCaption.caption and PortfolioCaption %}
                                <a href="{{images.ResizedFilePath}}" data-fancybox="{{gallery.GalleryName}}" data-caption="{{ PortfolioCaption.caption }}">
                                    {% else %}
                                <a href="{{images.ResizedFilePath}}" data-fancybox="{{gallery.GalleryName}}" data-caption="{{gallery.GalleryName}} : {{images.Name}}">
                                    {% endif %}
                                <img class="image-thumb" src="{{images.ThumbnailFilePath}}" alt="{{images.Name}}}" />
                                </a>
                        
                                {% endfor %}
                                </div>
                        
                                {% for subGalleries in gallery.PhotoGalleries %}
                        
                                <h3 id="{{subGalleries.GalleryName}}" class="GalleryLink"> 
                                <a href="{{subGalleries.FullDirectoryPath}}">{{subGalleries.GalleryName}}</a>
                                </h3>
                        
                                <div class="image-container-{{subGalleries.GalleryName}} ImgContainer">
                                {% for subimages in subGalleries.Images %}
                        
                                <!--[![{{subimages.ThumbnailName}}]({{subimages.ThumbnailFilePath}})]({{subGalleries.GalleryIndexHTMLFile}}) -->
                                {% assign SubPortfolioCaption = site.PortfolioImages | where: "name", subimages.Name | first %}
                                    {% if SubPortfolioCaption.caption and SubPortfolioCaption %}
                                <a href="{{subimages.ResizedFilePath}}" data-fancybox="{{subGalleries.GalleryName}}" data-caption="{{ SubPortfolioCaption.caption }}">
                                    {% else %}
                                <a href="{{subimages.ResizedFilePath}}" data-fancybox="{{subGalleries.GalleryName}}" data-caption="{{subGalleries.GalleryName}} : {{subimages.Name}}">
                                    {% endif %}
                                <img class="image-thumb" src="{{subimages.ThumbnailFilePath}}" alt="{{subimages.Name}}}" />
                                </a>
                        
                                {% endfor %}
                                </div>
                        
                                {% for ThreesubGalleries in subGalleries.PhotoGalleries %}
                        
                                <h4 id="{{ThreesubGalleries.GalleryName}}" class="GalleryLink"> 
                                <a href="{{ThreesubGalleries.FullDirectoryPath}}">{{ThreesubGalleries.GalleryName}}</a>
                                </h4>
                        
                                <div class="image-container-{{ThreesubGalleries.GalleryName}} ImgContainer">       
                                {% for Threesubimages in ThreesubGalleries.Images %}
                        
                                {% assign ThreePortfolioCaption = site.PortfolioImages | where: "name", Threesubimages.Name | first %}
                                <!-- [![{{Threesubimages.ThumbnailName}}]({{Threesubimages.ThumbnailFilePath}})]({{ThreesubGalleries.GalleryIndexHTMLFile}}) -->
                                    {% if ThreePortfolioCaption.caption and ThreePortfolioCaption %}
                                <a href="{{Threesubimages.ResizedFilePath}}" data-fancybox="{{ThreesubGalleries.GalleryName}}" data-caption="{{ ThreePortfolioCaption.caption }}">
                                    {% else %}
                                <a href="{{Threesubimages.ResizedFilePath}}" data-fancybox="{{ThreesubGalleries.GalleryName}}" data-caption="{{ThreesubGalleries.GalleryName}} : {{Threesubimages.Name}}">
                                    {% endif %}
                                <img class="image-thumb" src="{{Threesubimages.ThumbnailFilePath}}" alt="{{Threesubimages.Name}}}" />
                                </a>
                        
                                {% endfor %}
                                </div>
                        
                                {% endfor %}
                        
                                {% endfor %}
                        
                                {% endif %}
                                {% endfor %}
                        
                                </div>
                                <script>
                        
                                {% include gallery.js %}
                        
                                </script> 
                                <!-- ------- -->
                                <div>
                                    {{ post.content }}
                                </div>
                                <!-- ------- -->
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
