<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include team.html %}
    {% include services.html %}

    {% comment %} merge these two into a one foreach loop {% endcomment %}
    {% include about.html %}
    {% include portfolio_grid.html %}
    
    {% comment %} {% include clients.html %} {% endcomment %}
    {% comment %} {% include contact.html %} {% endcomment %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>